{% extends "base.html" %} {% block title %} Acceso Usuarios {% endblock %}
 {%block content %}

<div class="contenedor-login centrar-contenedor">
  <div class="ventana-login">
    {% if form.errors %} 
    <script>
      alertify.error('Los datos no son válidos');
    </script>
    {% endif %}
      {% if next %}
        {% if user.is_authenticated %}
          <script>
            alertify.error('Sin permisos para ver esta página');
          </script>
        {% else %}
          <script>
            alertify.warning('Inicie sesión');
          </script>
        {% endif %}
    {% endif %}
    <div class="ventana-titulo">
      <h2 class="ventana-titulo__h1">Ingresa a tu Cuenta</h2>
    </div>
    <form action="" id="formlogin" action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <div class="formulario-login">
        <input
          id="login-correo"
          name="username"
          type="text"
          class="formulario-login__input focus:outline-none focus:border-orange-500"
          placeholder="Correo Electrónico"
          required
        />

        <input
          id="login-contrasenia"
          name="password"
          type="password"
          class="formulario-login__input focus:outline-none focus:border-orange-500"
          placeholder="Contraseña"
          required 
          minlength="6"
        />

        <div class="contenedor-inputs-error">
          <span class="contenedor-inputs-error__span">Debe completar todos los campos.</span>
        </div>

        <div class="contenedor-inputs-error" id="submit-before">
          <span class="contenedor-inputs-error__span">Correo no valido</span>
        </div>

        <div class="contenedor-inputs-error" id="submit-after">
          <span class="contenedor-inputs-error__span">Correo electronico o contrasenia no son correctos.</span>
        </div>

        <button
          type="submit"
          class="formulario-login__btn btn focus:outline-none"
          value="login"
        >
          Entrar
        </button>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
    <div class="enlace-sign">
      <span class="enlace-sign__span"
        >¿No posees cuenta?
        <a href="{% url 'registro' %}" class="enlace-sign__a"
          >Puedes registrarte aquí.</a
        ></span
      >
    </div>
  </div>
</div>
<!--
<script>
  const $form = document.querySelector('.formulario-login');
  const $input = document.querySelectorAll('.formulario-login__input');
  const $submitBefore = document.getElementById('submit-before');
  const $submitAfter = document.getElementById('submit-after');

  const email = /^[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])\.)+(?:[a-zA-Z]{2}|aero|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|cl|travel)$/;

  const validarLogin = e => {
    if(!email.test(e.target.value)){
      $submitBefore.classList.add('block');
    }else{
      $submitBefore.classList.remove('block');
    }
  };

  $input.forEach(inp => (
    inp.addEventListener('blur', validarLogin)
  ));

  $form.addEventListener('submit', e => {
    e.preventDefault();
  });
</script>-->

{% endblock %}
