<div class="contenedor-parallax centrar-contenedor grid-col-1">
    <div class="contenedor-parallax__titulo">
        <h1 class="contenedor-parallax__h1 relative">BestFruit es la mejor fruta</h1>
        <p class="contenedor-parallax__p relative">
            Excelencia y calidad al extranjero y local
        </p>
    </div>
</div>

<div class="grid-col-1 md:grid-cols-3" style="min-height: 250px; padding-top: 50px;">
    <div class="contenedor-info lg:px-16">
        <div class="contenedor-info__ico">
            <i class="fas fa-seedling text-5xl"></i>
        </div>
        <div class="contenedor-info__tit">
            <h2>Exportación</h2>
        </div>
        <div class="contenedor-info__par">
            <p>
               <h3> Contamos con procesos de selección de fruta validados y con clientes satisfechos alrededor del mundo. </h3>
            </p>
        </div>
    </div>
    <div class="contenedor-info lg:px-16">
        <div class="contenedor-info__ico">
            <i class="far fa-lemon text-5xl"></i>
        </div>
        <div class="contenedor-info__tit">
            <h2>Productores locales</h2>
        </div>
        <div class="contenedor-info__par">
            <p>
               <h3> Nuestros productos proceden de productores locales con la fruta de mejor calidad y certificaciones agrarias vigentes. </h3>
            </p>
        </div>
    </div>
    <div class="contenedor-info lg:px-16">
        <div class="contenedor-info__ico">
            <i class="fas fa-truck text-5xl"></i>
        </div>
        <div class="contenedor-info__tit">
            <h2>Venta de saldos locales</h2>
        </div>
        <div class="contenedor-info__par">
            <p>
               <h3> Mantenemos nuestras frutas bajo almacenamientos certificados y ofrecemos una calidad local que nos recomienda.</h3>
            </p>
        </div>
    </div>
</div>