<html>
    <head></head>
    <body>
        <h1> Se ha recibido una nueva solicitud de {{ Nombre }} </h1>
        <h4>Datos de contacto:</h4>
        <table>
    		<tr>
				<br>
                <td>Nombre: </td>
                <td> <u>{{Nombre}} </u> </td>
            </tr>
            <tr>
				<br>
                <td>correo: </td>
                <td> <u>{{Email}} </u> </td>
            </tr>
            <tr>
				<br>
                <td>Telefono: </td>
                <td> <u>{{fono}} </u> </td>
            </tr>
            
        </table>
        <h4>Mensaje:</h4>
        <p>
            {{mensaje}}
        </p>
    </body>
</html>