{%load humanize%}
<div class="HistorialCompra-contenedor" >
	<div class="HistorialCompra-contenedor-titulo">
		<h2 class="HistorialCompra-contenedor-titulo__h2">Detalle Historial de Ofertas </h2>
    </div> 
    <div class="HistorialCompra-contenedor-tabla" style="padding-left:1rem; padding-right:1rem; padding-bottom:1rem"> 
        <div class="detalle-contenedor-descripcion  md:grid-cols-3" >
            {% for h in detalle_ho %}
            <div class="detalle-contenedor-imagen centrar-contenedor " >
                <img class="detalle-contenedor-imagen__img" style="background-image: url('data:imagen/jpg;base64, {{h.imagen}}'); 
                -webkit-background-size: 100% 100% !important;
                -moz-background-size: 100% 100% !important;
                  -o-background-size: 100% 100% !important;
                     background-size: 100% 100% !important;">      
            </div>
            <div class="detalle-contenedor-informacion md:col-span-2 md:m-0 " style="margin-left: 20px !important;margin-right: 20px !important; "> 
                <div class="detalle-contenedor-caracteristica " >
                    <h1 class="detalle-contenedor-titulo__h1 md:px-20"><td>{{h.data.4}} {{h.data.5}}</td></h1>
                    <br>
                    <ul>
                    <br>
                        <li class="detalle-contenedor-caracteristica__li"><b>Fecha oferta: </b><td>{{h.data.2}}</td></li>
                        <li class="detalle-contenedor-caracteristica__li"><b>Kilos ofertados: </b><td>{{h.data.0}}</td></li>
                        <li class="detalle-contenedor-caracteristica__li"><b>Precio oferta: </b>$<td> {{h.data.1|intcomma}}</td></li>
                        <li class="detalle-contenedor-caracteristica__li"><b>Fecha de cosecha: </b><td>{{h.data.3}}</td></li>
                    <br>
                    <br>
                    <br>
                    <br>
                    </ul> 
                
                </div>
            </div>
            {% endfor %}
            <div class="contenedor-btns centrar-contenedor">
                <button type="menu" class="btn bg-green-500 text-white w-1/4 focus:outline-none" onClick="javascript:history.go(-1);">
                    Volver
                </button>
            </div>
        </div>
    </div>
</div>