<div class="contenedor-footer grid grid-cols-1 lg:grid-cols-3">
    <div class="seccion">
        <div class="seccion-titulo">
            <h2 class="seccion-titulo__h1">BestFruit</h2>
        </div>
        <div class="seccion-imagen flex justify-center my-4">
            {% load static %}
            <img src="{% static '../static/img/BestFruit.png' %}" alt="Logo" class="seccion-imagen__img" />
        </div>
        <div class="seccion-info px-4">
            <p class="seccion-info__p">
                En Best Fruit somos el puente
                de conexión entre los
                productores locales que
                desean exportar su fruta y las
                empresas extranjeras que
                necesitan nuestros productos. </p>
        </div>
    </div>
    <div class="seccion">
        <div class="seccion-titulo">
            <h2 class="seccion-titulo__h1">Menú</h2>
        </div>
        <div class="seccion-enlaces">
            <ul class="">
                <a href="">
                    <li class="seccion-enlaces__li my-6">Inicio</li>
                </a>
                <a href="">
                    <li class="seccion-enlaces__li my-6">Que Hacemos</li>
                </a>
                <a href="">
                    <li class="seccion-enlaces__li my-6">Servicios</li>
                </a>
                <a href="">
                    <li class="seccion-enlaces__li my-6">Contacto</li>
                </a>
                <a href="">
                    <li class="seccion-enlaces__li my-6">Donaciones</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="seccion">
        <div class="seccion-titulo">
            <h2 class="seccion-titulo__h1">Contacto</h2>
        </div>
        <div class="seccion-contactos">
            <div class="medio-contacto">
                <div class="contenedor-icono">
                    <i class="contenedor-icono__i fas fa-phone-square-alt"></i>
                </div>
                <div class="contenedor-texto">
                    <span class="contenedor-texto__span">+56 9 4985 2049</span>
                </div>
            </div>
            <div class="medio-contacto">
                <div class="contenedor-icono">
                    <i class="contenedor-icono__i fas fa-envelope-square"></i>
                </div>
                <div class="contenedor-texto">
                    <span class="contenedor-texto__span">contacto@bestfruit.cl</span>
                </div>
            </div>
            <div class="medio-contacto">
                <div class="contenedor-icono">
                    <i class="contenedor-icono__i fab fa-instagram-square"></i>
                </div>
                <div class="contenedor-texto">
                    <span class="contenedor-texto__span">@BestFruit</span>
                </div>
            </div>
        </div>
        <div class="seccion-copyright">
            <span class="seccion-copyright__span">&copy; 2020 BestFruit</span>
        </div>
    </div>
</div>