
{% block content %} 

<!-- admin-solicitudLintar-seccion-... -->
<div class="admin-solicitudListar-contenedor-general" 
    style="padding-left:5rem; padding-right:5rem; padding-bottom:5rem">
	<div class="HistorialCompra-contenedor-titulo">
		<h2 class="HistorialCompra-contenedor-titulo__h2">Órdenes de Compra</h2>
	</div>
	{% if bd_orden %}
	<div class="admin-solicitudListar-body">
		<div class="admin-solicitudListar-listado my-4">
			<table class="admin-solicitudListar-table md:w-full" role="table">
				<thead class="admin-solicitudListar-table__thead" role="rowgroup">
				
					<!-- SOLICITUD -->
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2 rounded-tl-md"
						role="columnheader">N° Orden</th>
					<!-- SOLICITUD -->
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2"
						role="columnheader">Fecha Creación</th>
					<!-- SOLICITUD -->
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2"
						role="columnheader">Solicitante</th>
					<!-- SOLICITUD -->
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2"
						role="columnheader">Estado</th>

					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2"
						role="columnheader">Cotización</th>
					
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2"
						role="columnheader">Aceptar</th>
                    <th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2 rounded-tr-md"
						role="columnheader">Rechazar</th>
				</thead>
				{% for d in bd_orden %}
				<tbody role="rowgroup">
					<tr role="trow">
						<td class="admin-solicitudListar-table__td font-lato border-t-2 border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">{{d.0}}</td>
						<td class="admin-solicitudListar-table__td font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">{{d.1}}</td>
						<td class="admin-solicitudListar-table__td font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">{{d.2}}</td>
						<td class="admin-solicitudListar-table__td font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">{{d.3}}</td>
						<!--Ver Detalle-->
						<td class="admin-solicitudListar-table__td  justify-center font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">
							<form action="" method="POST">
								{% csrf_token %}
								<input type="hidden" value="{{d.4}}" name="IDS1">
								<input type="hidden" value="{{user.username}}" name="info1">
								<button type="submit" class="listarSolicitud-contenedor-label__span" >Ver Detalle</button>
							</form>
						</td>
						<td class="admin-solicitudListar-table__td font-lato border-b-2 border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">
							<form id="#" action=""  method="POST"><!-- target="_blank" >-->
								{% csrf_token %}
								<input type="hidden" value="{{d.4}}" name="IDS2">
								<input type="hidden" value="{{user.username}}" name="info2">
								<div class="flex flex-row md:justify-center">
									<button type=""  class="admin-solicitudListar-table__td-button-aceptar btn rounded-full w-10 h-10 bg-blue-500 font-lato text-white text-sm mx-2 px-2"><i class="fas fa-check"></i></button>
								</div>
							</form>
						</td>


						<!--Rechazar-->
						<td class="admin-solicitudListar-table__td font-lato border-b-2 border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">
							<form id="#" action="" method="POST" ><!--target="_blank" >-->
								{% csrf_token %}
								<input type="hidden" value="{{d.4}}" name="IDS3">
                        		<input type="hidden" value="{{user.username}}" name="info3">
									<div class="flex flex-row md:justify-center">
										<button type="submit" class="admin-solicitudListar-table__td-button-aceptar btn rounded-full w-10 h-10 bg-red-500 font-lato text-white text-sm mx-2 px-2"><i class="fas fa-times"></i></button>
									</div>
							</form>
						</td>
					</tr>
				</tbody>
				{% endfor %}
			</table>

			
		</div>
	</div>
	
	{% else %}
        <h1>Sin órdenes Pendientes Actualmente</h1>
	{% endif %}
	
	{% if orden_en_camino %}
	<div class="HistorialCompra-contenedor-titulo">
		<h2 class="HistorialCompra-contenedor-titulo__h2">Órdenes en Camino</h2>
	</div>
	
	<div class="admin-solicitudListar-body">
		<div class="admin-solicitudListar-listado my-4">
			<table class="admin-solicitudListar-table md:w-full" role="table">
				<thead class="admin-solicitudListar-table__thead" role="rowgroup">
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2 rounded-tl-md" role="columnheader">N° Orden</th>
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2" role="columnheader">Fecha Creación</th>
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2" role="columnheader">Solicitante</th>
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2" role="columnheader">Estado</th>

					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2" role="columnheader">Documento Orden</th>
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2" role="columnheader">Confirmar Entrega</th>
                    <th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2 rounded-tr-md" role="columnheader">Rechazar Entrega</th>
				</thead>
				{% for x in orden_en_camino %}
				<tbody role="rowgroup">
					<tr role="trow">
						<td class="admin-solicitudListar-table__td font-lato border-t-2 border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">{{x.0}}</td>
						<td class="admin-solicitudListar-table__td font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">{{x.1}}</td>
						<td class="admin-solicitudListar-table__td font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">{{x.2}}</td>
						<td class="admin-solicitudListar-table__td font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">{{x.3}}</td>
						<!--Detalle-->
						<td class="admin-solicitudListar-table__td  justify-center font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">
							<form action="" method="POST">
								{% csrf_token %}
								<input type="hidden" value="{{x.4}}" name="IDSX">
								<input type="hidden" value="{{user.username}}" name="infoX">
								<button type="submit" class="listarSolicitud-contenedor-label__span" >Ver Orden</button>
							</form>
						</td>
						<!--Aceptar-->
						<td class="admin-solicitudListar-table__td font-lato border-b-2 border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">
							<form id="#" action=""  method="POST">
								{% csrf_token %}
								<input type="hidden" value="{{x.4}}" name="IDS4">
								<input type="hidden" value="{{user.username}}" name="info4">
								<div class="flex flex-row md:justify-center">
									<button type="submit" class="admin-solicitudListar-table__td-button-aceptar btn rounded-full w-10 h-10 bg-blue-500 font-lato text-white text-sm mx-2 px-2" ><i class="fas fa-check"></i></button>
								</div>
							</form>
						</td>
						<!--Rechazar-->
						<td class="admin-solicitudListar-table__td font-lato border-b-2 border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">
							<form id="#" action="" method="POST" >
								{% csrf_token %}
								<input type="hidden" value="{{x.4}}" name="IDS5">
                        		<input type="hidden" value="{{user.username}}" name="info5">
									<div class="flex flex-row md:justify-center">
										<button type="submit" class="admin-solicitudListar-table__td-button-aceptar btn rounded-full w-10 h-10 bg-red-500 font-lato text-white text-sm mx-2 px-2"><i class="fas fa-times"></i></button>
									</div>
							</form>
						</td>
					</tr>
				</tbody>
				{% endfor %}
			</table>	
		</div>
	</div>

	{% endif %}
	
	{% if orden_terminada %}
	<div class="HistorialCompra-contenedor-titulo">
		<h2 class="HistorialCompra-contenedor-titulo__h2">Órdenes Finalizadas</h2>
	</div>
	
	<div class="admin-solicitudListar-body">
		<div class="admin-solicitudListar-listado my-4">
			<table class="admin-solicitudListar-table md:w-full" role="table">
				<thead class="admin-solicitudListar-table__thead" role="rowgroup">
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2 rounded-tl-md" role="columnheader">N° Orden</th>
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2" role="columnheader">Fecha Creación</th>
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2" role="columnheader">Solicitante</th>
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2" role="columnheader">Estado</th>
				</thead>
				{% for z in orden_terminada %}
				<tbody role="rowgroup">
					<tr role="trow">
						<td class="admin-solicitudListar-table__td font-lato border-t-2 border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">{{z.0}}</td>
						<td class="admin-solicitudListar-table__td font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">{{z.1}}</td>
						<td class="admin-solicitudListar-table__td font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">{{z.2}}</td>
						<td class="admin-solicitudListar-table__td font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">{{z.3}}</td>
					</tr>
				</tbody>
				{% endfor %}
			</table>	
		</div>
	</div>

    {% endif %}
</div>

<script>
	/*function rechazar() {

		
		Swal.fire({
		title: '¿Estás seguro?',
		text: "No podrás revertir esto!",
		icon: 'warning',
		showCancelButton: true,
		showCancelButtonText: 'No, Cancelar',
		confirmButtonColor: '#3085d6',
		cancelButtonColor: '#d33',
		confirmButtonText: 'Si, Rechazar!',
		}).then((result) => {
		if (result.isConfirmed) {
			Swal.fire(
			'Rechazado!',
			'Orden de compra rechazada.',
			'success'
			)
		}
		})
		
	}*/
</script>


<style>
	/*
Max width before this PARTICULAR table gets nasty. This query will take effect for any full smaller than 760px and also iPads specifically.
*/
	@media only screen and (max-width: 767px) {

		/* Force table to not be like tables anymore */
		table[role='table'],
		thead[role='rowgroup'],
		tbody[role='rowgroup'],
		th[role='columnheader'],
		td[role='cell'],
		tr[role='trow'] {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead[role='rowgroup'] th[role='columnheader'] {
			display: none;
		}

		tr[role='trow'] {
			margin: 0 0 1rem 0;
		}

		tr:nth-child(even) {
			background:   #e5e8e8  ;
		}

		td[role='cell'] {
			position: relative;
			padding-left: 50%;
			height: 50px;
			line-height: 45px;
		}

		td[role='cell']:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			line-height: 45px;
			left: 20px;
			width: 45%;
			/* padding-right: 10px; */
			white-space: nowrap;
		}

		/*
Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
*/
		td[role='cell']:nth-of-type(1):before {
			content: "N SOLICITUD";
		}

		td[role='cell']:nth-of-type(2):before {
			content: "FECHA CREACION";
		}

		td[role='cell']:nth-of-type(3):before {
			content: "SOLICITANTE";
		}

		td[role='cell']:nth-of-type(4):before {
			content: "ESTADO";
		}

		td[role='cell']:nth-of-type(5):before {
			content: "DETALLE";
		}

		td[role='cell']:nth-of-type(6):before {
			content: "PUBLICAR";
		}
	}

	
</style>



{% endblock %}