<!-- No hice clases en css -->
{%load humanize%}
<div class="cotenedor-producto my-10">
    <div class="contenedor-titulo text center">
        <h1>Más Ofertas</h1>
    </div>
    <div class="contenedor-producto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {% for p in media_alta %} 
            <div class="flex justify-center py-4">       
                <div class="slider__elemento">
                    <div class="contenedor-tarjeta">
                        <div class="imagen-tarjeta" style="background-image: url('data:imagen/jpg;base64, {{p.imagen}}');"></div>
                        <div class="titulo-tarjeta">
                            <h2><td>{{p.data.5}} {{p.data.6}}</td></h2>
                        </div>
                        <div class="unidad-tarjeta"><span><h3>Cantidad disponible: <td>{{p.data.4}}</td>Kg.</h3></span></div>
                        <div class="precio-tarjeta">
                            <h2>$<td>{{p.data.3|intcomma}} x Kg.</td></h2>
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{p.data.0}}" name="Publicacion">
                            <div class="boton-tarjeta">
                                <div class="btn bg-green-500 hover:bg-green-600 mx-10 mt-1">
                                    <input type="submit" value="Detalle" class="button2" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>      
            </div>
        {% endfor %}
    </div>
</div>