{% extends 'base.html' %}

{% block title %} {{ tituloPagina }} {% endblock %}

{% block content %} 

<!-- admin-solicitudLintar-seccion-... -->
<div class="admin-solicitudListar-contenedor-general m-4 mb-20 md:mb-0 sm:ml-24">
	<div class="admin-solicitudListar-header">
		<h1 class="admin-solicitudListar-header__h1 font-lato">PUBLICAR SOLICITUDES</h1>
		<p class="admin-solicitudListar-header__p font-lato text-lg">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi illum fugit soluta totam suscipit, provident
			numquam error harum velit placeat sequi, voluptate reiciendis, deleniti itaque laboriosam earum maxime? Eum,
			laudantium.
		</p>
	</div>
	
	<div class="admin-solicitudListar-body">
		<div class="admin-solicitudListar-filtro grid grid-cols-1 my-2 md:grid-cols-2 md:gap-x-2">
			<div class="admin-solicitudListar-filtro-titulo md:col-span-2">
				<h3 class="admin-solicitudListar-filtro__h3 font-lato font-bold">Filtro</h3>
			</div>
			<div class="admin-solicitudListar-contenedor-input my-2">
				<label for="buscador">Palabra Clave</label>
				<!-- EL EVENTO 'ONKEYPRESS' NO FUNCIONA CORRECTAMENTE SI SE ENCUETRA DENTRO DE UNA ETIQUETA SCRIPT, POR ESE MOTIVO, SE COLOCA EN EL INPUT  -->
				<!-- LA VALIDACION CONSTA DE LO SIGUIENTE  -->
				<!-- [0-9] || [a-zA-Z] || [0-9](BLOQ NUM) || [ - || . || _ || @ ] -->
				<input type="text" name="buscador" id="buscador" class="admin-solicitudListar-contenedor-input__input input" onkeypress="return (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode >= 96 && event.keyCode <= 105) || (event.keyCode === 45 || event.keyCode === 46 || event.keyCode === 95 ||event.keyCode === 64)">	
			</div>
			<div class="admin-solicitudListar-contenedor-input grid grid-cols-2 gap-x-2 my-2">
				<div class="admin-solicitudListar-contenedor-input-fecha">
				<label for="buscador">Fecha Desde</label>
				<input type="text" name="fecha-desde" id="fecha-desde" class="admin-solicitudListar-contenedor-input-fecha__input input">
				</div>
				<div class="admin-solicitudListar-contenedor-input-fecha">
				<label for="buscador">Fecha Hasta</label>
				<input type="text" name="fecha-hasta" id="fecha-hasta" class="admin-solicitudListar-contenedor-input-fecha__input input">
				</div>
			</div>
		</div>
		<div class="admin-solicitudListar-listado my-4">
			<div class="admin-solicitudListar-contenedorBoton mb-2 relative h-10">
				<button class="admin-solicitudListar-contenedorBoton__btn absolute right-0 btn bg-blue-500 text-white p-2 w-full sm:w-56">Agregar Publicacion</button>
			</div>
			<table class="admin-solicitudListar-table md:w-full" role="table">
				<thead class="admin-solicitudListar-table__thead" role="rowgroup">
					<!-- SOLICITUD -->
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2 rounded-tl-md"
						role="columnheader">N SOLICITUD</th>
					<!-- SOLICITUD -->
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2"
						role="columnheader">FECHA CREACION</th>
					<!-- SOLICITUD -->
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2"
						role="columnheader">SOLICITANTE</th>
					<!-- SOLICITUD -->
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2"
						role="columnheader">ESTADO</th>

					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2"
						role="columnheader">DETALLE</th>
					
					<th class="admin-solicitudListar-table__thead-th w-auto md:w-1/6 font-lato border border-gray-400 md:border-0 md:text-white md:text-sm md:border-b md:border-gray-500 md:bg-gray-500 md:p-2 rounded-tr-md"
						role="columnheader">PUBLICAR</th>
				</thead>

				<tbody role="rowgroup">
					<tr role="trow">
						<td class="admin-solicitudListar-table__td font-lato border-t-2 border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">202010212019</td>
						<td class="admin-solicitudListar-table__td font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">21/10/2020</td>
						<td class="admin-solicitudListar-table__td font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">JaneDoe</td>
						<td class="admin-solicitudListar-table__td font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">Pendiente</td>
						<td class="admin-solicitudListar-table__td flex justify-center font-lato border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell"><button class="admin-solicitudListar-table__td-button-detalle btn bg-green-500 font-lato text-white text-sm mt-1 w-20">Ver Detalle</button></td>
						<td class="admin-solicitudListar-table__td font-lato border-b-2 border-l-2 border-r-2 border-gray-500 md:border-0 md:text-sm md:text-center md:border-b md:border-gray-500 md:p-2" role="cell">
							<div class="flex flex-row md:justify-center">
								<button class="admin-solicitudListar-table__td-button-aceptar btn rounded-full w-10 h-10 bg-blue-500 font-lato text-white text-sm mx-2 px-2"><i class="fas fa-check"></i></button>
								<button class="admin-solicitudListar-table__td-button-aceptar btn rounded-full w-10 h-10 bg-red-500 font-lato text-white text-sm mx-2 px-2"><i class="fas fa-times"></i></button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- MODAL AGREGAR PUBLICACION -->
	<div class="admin-solicitudListar-modal-agregarPublicacion flex justify-center align-top hidden">
		<div class="admin-solicitudListar-capaGris fixed inset-0 z-20 w-full h-full bg-gray-800 opacity-75"></div>
		<div class="admin-solicitudListar-ventana  fixed  z-30 bg-white w-11/12 rounded-2xl p-4 md:w-2/3 md:w-3/4 lg:w-2/3 xl:w-2/4" style="max-height: 35rem; top: 15%; ">
			<div class="admin-solicitudListar-ventana-titulo border-b-2 border-gray-500">
				<h3 class="admin-solicitudListar-ventana-titulo__h3 font-lato text-xl font-bold py-2">Nueva Publicacion</h3>
			</div>
			<div class="admin-solicitudListar-contendor-formulario overflow-auto my-4" style="max-height: 25rem;">
				<form action="" method="GET">
					<div class="admin-solicitudListar-formulario">
						<div class="admin-solicitudListar-input my-2">
							<input type="text" class="admin-solicitudListar-input__input input" placeholder="Kilos">
						</div>
						<div class="admin-solicitudListar-input my-2">
							<input type="text" class="admin-solicitudListar-input__input input" placeholder="Precio">
						</div>
						<div class="admin-solicitudListar-input my-2">
							<input type="text" class="admin-solicitudListar-input__input input" placeholder="Fecha Cosecha">
						</div>
						<div class="admin-solicitudListar-input my-2">
							<input type="text" class="admin-solicitudListar-input__input input" placeholder="Fecha Oferta">
						</div>
						<div class="admin-solicitudListar-input my-2">
							<input type="text" class="admin-solicitudListar-input__input input" placeholder="Fruta">
						</div>
						<div class="admin-solicitudListar-input my-2">
							<input type="text" class="admin-solicitudListar-input__input input" placeholder="Variedad">
						</div>
						<div class="admin-solicitudListar-input my-2">
							<input type="file" class="admin-solicitudListar-input__input" placeholder="Kilos">
						</div>
						<div class="admin-solicitudListar-input my-2">
							<button type="submit" class="admin-solicitudListar-input__btn btn bg-blue-500 text-white w-full">Agregar</button>
						</div>
					</div>
				</form>
			</div>
			<div class="admin-solicitudListar-ventana-publicacion-boton flex justify-end">
				<button class="admin-solicitudListar-ventana-publicacion-boton__button btn bg-red-600 font-lato text-white w-48 p-2">Cerrar</button>
			</div>
		</div>
	</div>
	<!-- MODAL VER DETALLE -->
	<div class="admin-solicitudListar-modal-verDetalle flex justify-center align-top hidden" >
		<div class="admin-solicitudListar-capaGris fixed inset-0 z-20 w-full h-full bg-gray-800 opacity-75"></div>
		<div class="admin-solicitudListar-ventana  fixed  z-30 bg-white w-11/12 rounded-2xl p-4 md:w-2/3 md:w-3/4 lg:w-2/3 xl:w-2/4" style="max-height: 20rem; top: 30%; ">
			<div class="admin-solicitudListar-ventana-titulo border-b-2 border-gray-500">
				<h3 class="admin-solicitudListar-ventana-titulo__h3 font-lato text-xl font-bold py-2">Solicitud N 123</h3>
			</div>
			<div class="admin-solicitudListar-contendor-tabla overflow-auto my-4" style="max-height: 12rem;">
				<table class="admin-solicitudListar-table">
					<thead class="admin-solicitudListar-table__thead">
						<th class="admin-solicitudListar-table__thead-th w-1/6 font-lato text-white border-b border-gray-500 bg-gray-500 p-2 rounded-tl-md">#</th>
						<!-- DETALLE_SOLICITUD-->
						<th class="admin-solicitudListar-table__thead-th w-2/4 font-lato text-white border-b border-gray-500 bg-gray-500 p-2">FRUTA</th>
						<!-- DETALLE_SOLICITUD-->
						<th class="admin-solicitudListar-table__thead-th w-2/4 font-lato text-white border-b border-gray-500 bg-gray-500 p-2">VARIEDAD</th>
						<!-- DETALLE_SOLICITUD-->
						<th class="admin-solicitudListar-table__thead-th w-1/4 font-lato text-white border-b border-gray-500 bg-gray-500 p-2 rounded-tr-md">CANTIDAD</th>
					</thead>
	
					<tbody>
						<tr>
							<td class="admin-solicitudListar-table__td font-lato text-sm text-center border-b border-gray-500 p-2">1</td>
							<td class="admin-solicitudListar-table__td font-lato text-sm text-center border-b border-gray-500 p-2">MANZANA</td>
							<td class="admin-solicitudListar-table__td font-lato text-sm text-center border-b border-gray-500 p-2">FUJI</td>
							<td class="admin-solicitudListar-table__td font-lato text-sm text-center border-b border-gray-500 p-2">100</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="admin-solicitudListar-ventana-detalle-boton flex justify-end">
				<button class="admin-solicitudListar-ventana-detalle-boton__button btn bg-red-600 font-lato text-white w-48 p-2">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<style>
	/*
Max width before this PARTICULAR table gets nasty. This query will take effect for any full smaller than 760px and also iPads specifically.
*/
	@media only screen and (max-width: 767px) {

		/* Force table to not be like tables anymore */
		table[role='table'],
		thead[role='rowgroup'],
		tbody[role='rowgroup'],
		th[role='columnheader'],
		td[role='cell'],
		tr[role='trow'] {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead[role='rowgroup'] th[role='columnheader'] {
			display: none;
		}

		tr[role='trow'] {
			margin: 0 0 1rem 0;
		}

		tr:nth-child(even) {
			background:   #e5e8e8  ;
 ;
		}

		td[role='cell'] {
			position: relative;
			padding-left: 50%;
			height: 50px;
			line-height: 45px;
		}

		td[role='cell']:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			line-height: 45px;
			left: 20px;
			width: 45%;
			/* padding-right: 10px; */
			white-space: nowrap;
		}

		/*
Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
*/
		td[role='cell']:nth-of-type(1):before {
			content: "N SOLICITUD";
		}

		td[role='cell']:nth-of-type(2):before {
			content: "FECHA CREACION";
		}

		td[role='cell']:nth-of-type(3):before {
			content: "SOLICITANTE";
		}

		td[role='cell']:nth-of-type(4):before {
			content: "ESTADO";
		}

		td[role='cell']:nth-of-type(5):before {
			content: "DETALLE";
		}

		td[role='cell']:nth-of-type(6):before {
			content: "PUBLICAR";
		}
	}

	@keyframes abrirModal{
		from {
			opacity: 0%;
		}

		to {
			opacity: 100%;
		}
	}

	@keyframes cerrarModal{
		from {
			opacity: 100%;
		}

		to {
			opacity: 0%;
		}
	}

	.admin-solicitudListar-modal-verDetalle,.admin-solicitudListar-modal-agregarPublicacion {
		animation-duration: .5s;
		animation-fill-mode: forwards;
	}
</style>

<script>

	$('#fecha-desde').datepicker({
		changeMonth: true,
		changeYear: true,
		maxDate: "0D"
	});
	$('#fecha-hasta').datepicker({
		changeMonth: true,
		changeYear: true,
		maxDate: "0D"
	});


	document.addEventListener("click", e => {
		// TOMO LA PRIMERA CLASE
		switch (e.target.className.substring(0, e.target.className.indexOf(' '))) {
			case 'admin-solicitudListar-table__td-button-detalle':
				document.querySelector('.admin-solicitudListar-modal-verDetalle').classList.remove('hidden');
				document.querySelector('.admin-solicitudListar-modal-verDetalle').style.animationName = 'abrirModal';
				break;

			case 'admin-solicitudListar-ventana-detalle-boton__button':
				document.querySelector('.admin-solicitudListar-modal-verDetalle').style.animationName = 'cerrarModal';
				setTimeout(() => document.querySelector('.admin-solicitudListar-modal-verDetalle').classList.add('hidden'), 500);
				break;

			case 'admin-solicitudListar-contenedorBoton__btn':
				document.querySelector('.admin-solicitudListar-modal-agregarPublicacion').classList.remove('hidden');
				document.querySelector('.admin-solicitudListar-modal-agregarPublicacion').style.animationName = 'abrirModal';
				break;

			case 'admin-solicitudListar-ventana-publicacion-boton__button':
				document.querySelector('.admin-solicitudListar-modal-agregarPublicacion').style.animationName = 'cerrarModal';
				setTimeout(() => document.querySelector('.admin-solicitudListar-modal-agregarPublicacion').classList.add('hidden'), 500);
				break;
		}
	});

</script>


{% endblock %}