
{%load humanize%}
<div class="contenedor-producto-oferta">
    <div class="contenedor-titulo">
        <h1>Pedidos con demanda en el Extranjero</h1>
    </div>
    {% if bd_pedido  %}
    <div class="contenedor-producto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {% for p in bd_pedido %} 
            <div class="flex justify-center py-4">       
                <div class="slider__elemento">
                    <div class="contenedor-tarjeta">
                        <div class="imagen-tarjeta" style="background-image: url(../../static/img/pedido.jpg)"></div>
                        <div class="titulo-tarjeta">
                            <h2><td>Solicitud de Frutas</td></h2>
                        </div>
                        <div class="unidad-tarjeta"><span>Más información en detalle</span></div>
                        <div class="precio-tarjeta">
                            <h3>N° Pedido {{ p.0 }}</h3>
                            <h3>Kilos:<td> {{p.1|apnumber}} K</td></h3>
                        </div>
                        <form action="detallePedido" method="GET">
                            {% csrf_token %}
                            <input type="hidden" value="{{p.2}}" name="Publicacion">
                            <div class="boton-tarjeta">
                                <div class="btn bg-green-500 hover:bg-green-600 mx-10 mt-1">
                                    <input type="submit" value="Detalle" class="button2" />
                                </div>
                            </div>
                        </form>
                    </div>                    
                </div>      
            </div>
        {% endfor %}
    </div>
    {% else %}
       <div class="contenedor-titulo">
		    <h1>Actualmente Sin Publicaciones </h1>
	    </div>
    {% endif %}
</div>