{% load static %}
<script src="{% static 'lib/highcharts-8.1.2/highcharts.js' %}"></script>
<script src="{% static 'lib/highcharts-8.1.2/modules/exporting.js' %}"></script>
<script src="{% static 'lib/highcharts-8.1.2/modules/export-data.js' %}"></script>
<script src="{% static 'lib/highcharts-8.1.2/modules/accessibility.js' %}"></script>
<script src="{% static 'lib/highcharts-8.1.2/highcharts-3d.js' %}"></script>

<figure class="highcharts-figure">
    <div id="container-3"></div>
    <div id="container-4"></div>
  
</figure>
<script>
Highcharts.chart('container-3', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Montos Totales por Indicadores'
    },
    subtitle: {
        text: 'Exportaciones, Venta Local'
    },
    plotOptions: {
        pie: {
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
        name: 'Montos en $',

        data: [
            {% for ex in resumen_totaloc %}
            ['Exportaciones', {{ex.0}}],
            {% endfor %}
            
            {% for st in TOTAL_STOCK %}
            ['Saldos Stock', {{st.0}}]
            {% endfor %}
        ]
    }]
});

Highcharts.chart('container-4', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Montos Totales por Indicadores'
    },
    subtitle: {
        text: 'Venta Local, Stock Saldos y perdidas'
    },
    plotOptions: {
        pie: {
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
        name: 'Montos en $',

        data: [
            {% for t in resumen_totalvl %}
            ['Venta Local', {{t.0}}],
            {% endfor %}
            {% for p in perdidas_totales %}
            ['Perdidas', {{p.0}}],
            {% endfor %}
            {% for st in TOTAL_STOCK %}
            ['Saldos Stock Total', {{st.0}}]
            {% endfor %}
        ]
    }]
});
</script>