{% extends 'base.html' %}
{%load humanize%}

{% block title %} Detalle Pedido {% endblock %}

{% block content%} 

<div class="detalle-contenedor"> 
        <div class="detalle-contenedor-titulo md:col-span-3">
            <h1 class="detalle-contenedor-titulo__h1 md:px-20">Variedades solicitadas</h1>
        </div>
        {% for d in detallepedidos %} 
        <div class="detalle-contenedor-titulo md:col-span-3">
            <h2 class="detalle-contenedor-titulo__h1 md:px-20"><td>{{d.data.1}} {{d.data.2}}</td></h2>
        </div>
        <div class="detalle-contenedor-descripcion  md:grid-cols-3">
            <div class="detalle-contenedor-imagen centrar-contenedor">
                <img src="data:imagen/jpg;base64, {{d.imagen}}" alt="{{d.data.1}} {{d.data.2}}" class="detalle-contenedor-imagen__img">       
            </div>
            <div class="detalle-contenedor-informacion md:col-span-2 md:m-0"> 
                <div class="detalle-contenedor-caracteristica md:my-2 md:h-48">
                    <span class="detalle-contenedor-caracteristica__span">Características:</span>
                    <ul>
                     <br>
                        <li class="detalle-contenedor-caracteristica__li">Kilos Solicitados:<td> {{d.data.3}} Kg.</td></li>
                        <li class="detalle-contenedor-caracteristica__li">Fecha:<td> {{d.data.5}}</td></li>
                        <li class="detalle-contenedor-caracteristica__li">Fruta solicitada:<td> {{d.data.1}} {{d.data.2}}</td></li>
                        <li class="detalle-contenedor-caracteristica__li">Descripción:<br> Si cumple con lo solicitado, ingrese en la opción de 
                        ofertar,<br> donde podrá indicar la cantidad y el precio de sus productos.</li>
                        <li class="detalle-contenedor-caracteristica__li">
                            <form class="" action="oferta_productor" method="GET">
                                {% csrf_token %}                
                                <input type="hidden" value="{{id_oferta}}" name="Publicacion">
                                <input type="hidden" value="{{d.data.2}}" name="variedad">
                                <div class="boton-tarjeta">
                                    <div class="detalle-contenedor-btn centrar-contenedor  md:justify-start ">
                                        <input type="submit" value="Ofertar" class="button2" />
                                    </div> 
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>             
            </div>
        </div>
        {% endfor %}
        <div class="detalle-contenedor-titulo__h1 md:col-span-3"></div>
       <!-- <div class="detalle-contenedor-titulo md:col-span-3">
            <h1 class="detalle-contenedor-titulo__h1 md:px-20"><td>Ofertar</td></h1>
            <br>
             <form class="detalle-contenedor-titulo__h1 md:px-20" action="oferta_productor" method="GET">
                {% csrf_token %}                
                <input type="hidden" value="{{id_oferta}}" name="Publicacion">
                <div class="boton-tarjeta">
                    <div class="detalle-contenedor-btn centrar-contenedor md:m-0 md:justify-start md:items-end">
                        <input type="submit" value="Ofertar" class="button2" />
                    </div> 
                </div>
            </form>  
        </div>-->

{% endblock %}