{% extends 'base.html' %}

{% block title %} {{ tituloPagina }} {% endblock %}

{% block content %}
<div class="" style="background-color: #fffffff ">
    <section style="background: #ffffff url('/static/img/marco.jpg') no-repeat; background-attachment: fixed; background-size: cover; filter: grayscale(0.2);">
        <div class="bg-fixed" style="height: 75vh; background: #ffffff url('/static/img/exportacion.jpg') no-repeat; background-attachment: fixed; background-size: cover; filter: grayscale(0.2);">
        </div>
        <span id="quienes-somos" class="relative" style="top: -40px;"></span>
        <div class="bg-green-600 h-32 text-center">
            <h2 class="font-lato text-5xl text-white" style="line-height: 7.5rem;">Maipo Grande</h2>
        </div>
        <div class="w-2/3 mx-auto" style="min-height: 75vh;" >
            <br>
            <article>
                <section class="my-6">
                    <h3 class="font-lato text-4xl my-2 text-center">
                        La Empresa
                    </h3>
                    <br>
                    <blockquote>
                        <p class="font-lato text-2xl font-light text-center italic">
                            Es una empresa familiar con trayectoria, que logra prosperar en el rubro de la exportación de fruta 
                            gracias a la dedicación y especial cuidado
                            en el envío de frutas con el más alto nivel de cuidado y un control de temperatura específico
                            para preservar su sabor, frescura, textura y aroma.
                        </p>
                    </blockquote>
                </section>
                <section class="my-6">
                    <h3 class="font-lato text-4xl my-2 text-center">
                        Nuestra Misión
                    </h3>
                    <br>
                    <p class="font-lato text-2xl font-light text-center">
                        Entregar a nuestros clientes fruta fresca y de gran calidad todo el año.
                    </p>
                </section>
                <section class="my-6">
                    <p class="font-lato text-2xl font-light text-center">
                        Seguimos procedimientos de control altamente estandarizados para garantizar condiciones óptimas de
                        transporte desde la recogida hasta la entrega.
                    </p>
                </section>
                <br>
                <section class="my-6">
                    <h3 class="font-lato text-4xl my-2 text-center">
                        Puede confiar en nuestra sólida experiencia
                    </h3>
                    <br>
                    <p class="font-lato text-2xl font-light text-center">
                        Con los años, hemos construido una sólida experiencia en el transporte de carga perecedera como Peras, Kiwis, Ciruelas,
                        Papaya y Manzanas, entre muchos otros. Nuestros expertos reciben capacitación periódica sobre los últimos estándares y 
                        procesos para cumplir con los requisitos cambiantes de nuestros clientes y permitirles llegar a cualquier mercado del mundo.
                    </p>
                </section>
                <section class="my-6">
                    <h3 class="font-lato text-4xl my-2 text-center">
                        Somos minuciosos en nuestro trabajo
                    </h3>
                    <br>
                    <p class="font-lato text-2xl font-light text-center">
                        Nuestros clientes reciben un producto de calidad superior, homogéneo y consistente a través del tiempo.
                    </p>
                </section>
               
                <section class="my-6">
                    <p class="font-lato text-2xl font-light text-center">
                        Utilizamos tecnología de punta y supervisamos constantemente a nuestros productores por nuestro personal
                        altamente calificado en cada área del proceso productivo, de embalaje y de transporte.
                        La muestra es una fruta de excelencia, acorde a los estándares mundiales de calidad.
                        Nuestra marca se ha consolidado gracias a un trabajo que se actualiza año tras año 
                        y que nos compromete a seguir produciendo la mejor fruta a nivel mundial.
                    </p>
                </section>
                <br>
            </article>
        </div>
    </section>
    
    <section>
        <div class="bg-fixed" style="height: 75vh; background: #ffffff url('/static/img/frutas_frescas.jpg') no-repeat; background-attachment: fixed; background-size: cover; filter: grayscale(0.2);">
        </div>
        <span id="servicios" class="relative" style="top: -40px;"></span>
        <div class="bg-green-600 h-32 text-center">
            <h2 class="font-lato text-5xl text-white" style="line-height: 7.5rem;">Nuestros Servicios</h2>
        </div>
        <div class="bg-fixed" style="height: 70vh; background: #ffffff url('/static/img/marco.jpg') no-repeat; background-attachment: fixed; background-size: cover; filter: grayscale(0.2);">
        <div class="w-2/3 mx-auto flex flex-col justify-center items-center xl:flex-row xl:justify-around" style="min-height: 75vh;">
            <section class="border-8 border-green-600 rounded-full w-64 h-64 m-10">
                <div class="flex flex-col justify-center items-center h-full p-4">
                    <i class="fas fa-handshake text-6xl text-green-600"></i>
                    <p class="font-lato text-2xl font-medium text-center my-6">
                        Gestión de ventas en el extranjero
                    </p>
                </div>
            </section>
            <section class="border-8 border-green-600 rounded-full w-64 h-64 m-10">
                <div class="flex flex-col justify-center items-center h-full p-4">
                    <i class="fas fa-apple-alt text-6xl text-green-600"></i>
                    <p class="font-lato text-2xl font-medium text-center my-6">
                        Exportación de fruta y venta local
                    </p>
                </div>
            </section>
            <section class="border-8 border-green-600 rounded-full w-64 h-64 m-10">
                <div class="flex flex-col justify-center items-center h-full p-4">
                    <i class="fas fa-medal text-6xl text-green-600"></i>
                    <p class="font-lato text-2xl font-medium text-center my-6">
                        Integración de clientes nacionales y extranjeros
                    </p>
                </div>
            </section>
            </div>
        </div>
    </section>
</div>

<style>
    .dark-btn:hover{
        background-color: rgb(20, 20, 20);
    }
</style>

<script>
    let $ulNavbar = document.querySelector('.contenedor-enlace__ul').children;
    cambiarEnlaceActivoPorHash($ulNavbar);
    
    window.onhashchange = () => {
        borraClaseEnlaceActivo($ulNavbar);
        cambiarEnlaceActivoPorHash($ulNavbar);
    };

    window.onscroll =  e => {
        borraClaseEnlaceActivo($ulNavbar);
        if(window.scrollY > 2958){
            $ulNavbar[3].classList.add('contenedor-enlace__li--activo');
        }else if(window.scrollY >= 1428){
            $ulNavbar[2].classList.add('contenedor-enlace__li--activo');
        }else if(window.scrollY < 1428){
            $ulNavbar[1].classList.add('contenedor-enlace__li--activo');
        }
    };

    function borraClaseEnlaceActivo($ulNavbar){
        for(const li of $ulNavbar){
            if(/contenedor-enlace__li--activo/.test(li.className)){
                li.classList.remove('contenedor-enlace__li--activo');
            };
        };
    };

    function cambiarEnlaceActivoPorHash($ulNavbar){
        switch(window.location.hash){
            case '#quienes-somos':
                $ulNavbar[1].classList.add('contenedor-enlace__li--activo');
                break;
            case '#servicios':
                $ulNavbar[2].classList.add('contenedor-enlace__li--activo');
                break;
            case '#agracimientos':
                $ulNavbar[3].classList.add('contenedor-enlace__li--activo');
                break;
        };
    };
</script>

{% endblock %}