{% extends "base.html" %}
{% load static %}
	{% block css %} 
		<link rel="stylesheet" href="{% static '../static/css/mensajesValidacion.css' %}"/>
	{% endblock %}
{% block title %} Registro {% endblock %}

{% block content %}

<div class="registro-contenedor centrar-contenedor">
	<div class="ventana-registro">
		<div class="ventana-titulo">
			<h2 class="ventana-titulo__h1">Formulario de Registro</h2>
		</div>
		<div id="msg"></div>
		<!-- Mensajes de Verificación -->
		<div id="error" class="alert alert-danger ocultar" role="alert">
			Las Contraseñas no coinciden, vuelve a intentar !
		</div>
		<div id="ok" class="alert alert-success ocultar" role="alert">
			Las Contraseñas coinciden ! (Procesando formulario ... {{mensaje}})
		</div>
		<!-- Fin Mensajes de Verificación -->
		<form id="registro-formulario" action="" method="POST" onsubmit="verificarPasswords(); return false">
			{% csrf_token %}
			<div class="registro-contenedor-formulario grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
				
				<!-- Identificacion -->			
				<div class="contenedor-inputs">
					<input id="registro-rut" name="registro-rut" type="text"
						class="input focus:outline-none focus:border-orange-500"
						placeholder="Ingrese Run" maxlength="10" minlength="10"/>
				</div>

				<div class="contenedor-inputs">
					<input id="registro-fecha" name="registro-fecha" type="text"
						class="input appearance-none focus:outline-none focus:border-orange-500"
						placeholder="Fecha de Nacimiento" required maxlength="10" minlength="10"/>
				</div>

				<!-- Nombre Completo -->
				<div class="contenedor-inputs">
					<input id="registro-nombre" name="registro-nombre" type="text"
						class="input focus:outline-none focus:border-orange-500"
						placeholder="Nombre" required maxlength="50" minlength="3"/>
					<div class="contenedor-inputs-error">
						<span class="contenedor-inputs-error__span">Solo se aceptan caracteres
							alfabeticos.</span>
					</div>
				</div>

				<div class="contenedor-inputs">
					<input id="registro-Paterno" name="registro-Paterno" type="text"
						class="input focus:outline-none focus:border-orange-500"
						placeholder="Apellido Paterno" required maxlength="25" minlength="3"/>
					<div class="contenedor-inputs-error">
						<span class="contenedor-inputs-error__span">Solo se aceptan caracteres
							alfabeticos.</span>
					</div>
				</div>

				<div class="contenedor-inputs">
					<input id="registro-materno" name="registro-materno" type="text"
						class="input focus:outline-none focus:border-orange-500"
						placeholder="Apellido Materno" required maxlength="25" minlength="3"/>
				</div>

				<!-- Correo y Numero -->
				<div class="contenedor-inputs lg:col-span-2">
					<input id="registro-correo" name="registro-correo" type="email"
						class="input focus:outline-none focus:border-orange-500"
						placeholder="Correo Electronico" required maxlength="50" />
				</div>

				<div class="contenedor-inputs">
					<input id="registro-celular" name="registro-celular" type="text"
						class="input focus:outline-none appearance-none focus:border-orange-500"
						placeholder="Numero de Telefono" required maxlength="9" minlength="9"
						onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
				</div>

				<!-- Direccion -->
				<div class="contenedor-inputs lg:col-span-3">
					<input id="registro-direccion" name="registro-direccion" type="text"
						class="input lg:w-full focus:outline-none focus:border-orange-500"
						placeholder="Direccion" required maxlength="150"/>
				</div>

				<!-- Selects -->
				<div class="contenedor-selects">
					<select id="registro-region" name="registro-region"
						class="contenedor-selects__select focus:outline-none focus:border-orange-500"
						 required>
						{% for p in region %}
							<option valua=""></option>
							<option value="{{ p.0 }}">{{ p.0 }}</option>
						{% endfor %}
					</select>
					<!-- <i class="fas fa-angle-down absolute right-0 mr-2"></i> -->
				</div>
				
				<div class="contenedor-selects">
					<select id="registro-provincia" name="registro-provincia"
						class="contenedor-selects__select focus:outline-none focus:border-orange-500" required>
						{% for p in region %}
							<option valua=""></option>
							<option value="{{ p.1 }}">{{ p.1}}</option>
						{% endfor %}
					</select>
					<!-- <i class="fas fa-angle-down absolute right-0 mr-2"></i> -->
				</div>

				<div class="contenedor-selects">
					<select id="registro-comuna" name="registro-comuna"
						class="contenedor-selects__select focus:outline-none focus:border-orange-500" required>
						{% for p in region %}
							<option valua=""></option>
							<option value="{{ p.2 }}">{{ p.3 }}</option>
						{% endfor %}
					</select>
					<!-- <i class="fas fa-angle-down absolute right-0 mr-2"></i> -->
				</div>

				<!-- Contrasenia -->
				<div class="contenedor-inputs">
					<input id="registro-contrasenia1" name="registro-contrasenia1" type="password"
						class="input focus:outline-none focus:border-orange-500"
						placeholder="Contraseña" minlength="6" required/>
					<div class="contenedor-inputs-error">
						<span class="contenedor-inputs-error__span"></span>
						<div id="mensaje"></div>
					</div>
				</div>

				<div class="contenedor-inputs">
					<input id="registro-contrasenia2" name="registro-contrasenia2" type="password"
						class="input focus:outline-none focus:border-orange-500"
						placeholder="Repita Contraseña" minlength="6" required/>
				</div>

				<!-- Btn -->
				<div class="contenedor-btns md:col-span-2 lg:col-span-3">
					<button type="submit" class="formulario-login__btn btn w-full focus:outline-none" >
						Registrarse
					</button>
					<span class="block font-lato text-sm text-center mt-2">Al registrarte, aceptas nuestras condiciones de uso y políticas de privacidad</span>
					<br>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	function validaNumericos(event) {
    if(event.charCode >= 48 && event.charCode <= 57){
      return true;
     }
     return false;        
    }
</script>

<script>
	// Inicio DatePicker JQuery
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '< Ant',
		nextText: 'Sig >',
		currentText: 'Hoy',
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre',
			'Noviembre', 'Diciembre'],

		monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
		dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''
	};

	$.datepicker.setDefaults($.datepicker.regional['es']);
	$('#registro-fecha').datepicker({
		changeMonth: true,
		changeYear: true,
		maxDate: "-18Y",
		minDate: "-100Y"
	});
	// Fin DatePicker JQuery


	// Inicio Select Select2
	$(document).ready(function () {
		const selects = document.getElementsByTagName('select');
		const selectsName = ['Region', 'Provincia', 'Comuna'];

		for (let index = 0; index < selects.length; index++) {
			$(`#${selects[index].id}`).select2({
				placeholder: `Selecciona ${selectsName[index]}`,
				language: {
					noResults: function () {
						return "No hay resultado";
					},
					searching: function () {
						return "Buscando..";
					}
				}
			});
		}
	});
</script>
{% block script %} 
	<script src="{% static '../static/js/passwordIguales.js' %}"></script>
{% endblock %}
{% endblock %}