{% extends 'base.html' %}

{%load humanize%}

{% block head %} {% endblock %}

{% block title %} Inicio Usuarios {% endblock %}

{% block titulo %} {% include 'include/titulo_usuario.html' %} {% endblock %}

{% block content %}

    {% if user.is_staff %}
        <div id="latelal">
            {% include 'include/menu_lateralUsuario.html' %}
        </div>
        <br>
        <div id="resumen">
            {% include 'include/dashboard-Resumen.html' %}
        </div>
        <br>
        <div id="resumen">
            {% include 'include/dashboard_perdidas_stock.html' %}
        </div>
        <br>
        <div id="resumen">
            {% include 'include/resumen_lucas.html' %}
        </div>
        <br>
        <br>
    {% else %}

        
    <div class="usuario-contenedor grid justify-center lg:my-10" >
        </div>
        <div class="usuario-contendor-general grid grid-col-1 lg:grid-cols-4" style="padding-left:5rem; padding-right:5rem; padding-bottom:5rem">
            <div class="usuario-contenedor-modal">
                {% block contentUsuario %}
                    {% if perms.core.view_pago %}
                        
                    {% else %}
                        {% if perms.core.view_solicitud %}

                        {% else %}
                            {% if perms.core.view_detalleoferta %}

                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </div>
            <div class="usuario-contenedor-aside">
                <aside class="usuario-aside grid grid-cols-4 lg:grid-cols-1">
                    {% if perms.core.view_pago %}
                        <!-- historial de compra-->
                        <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                            <a href="javascript:enviar_formulario2()">
                                <i class="fas fa-clipboard-check usuario-contenedor-btns__i usuario-contenedor-btns__i--activo"></i>
                                <span class="usuario-contenedor-btns__span lg:inline-block usuario-contenedor-btns__span--activo">
                                Historial de Compras</span>
                            </a>
                            <form action="{% url 'historial_compra' %}" method="POST" name="formulario2">
                                {% csrf_token %}
                                <input type="hidden" name="valcorreo" value="{{user.email}}" >
                            </form>
                            <script>
                                function enviar_formulario2(){
                                    document.formulario2.submit()
                                }
                            </script>
                        </div>
                        <!-- Pedidospuntos -->
                        <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                            <a href="{% url 'puntos' %}">
                                <i class="fas fa-shopping-cart usuario-contenedor-btns__i"></i>
                                <span class="usuario-contenedor-btns__span lg:inline-block">Resumen Frutas</span>
                            </a>
                        </div>
                    {% else %}
                        {% if perms.core.view_solicitud %}
                        
                            <!-- Solicitud de Compra -->
                            <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                                <a href="{% url 'solicitud' %}" class="">
                                    <i class="fas fa-clipboard-check usuario-contenedor-btns__i usuario-contenedor-btns__i--activo"></i>
                                    <span class="usuario-contenedor-btns__span lg:inline-block usuario-contenedor-btns__span--activo">Solicitud de Compra</span>
                                </a>
                            </div>
                            <!-- Ordenes de Compra -->
                            <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                                    <a href="javascript:enviar_formulario8()">
                                        <i class="fas fa-cash-register usuario-contenedor-btns__i"></i>

                                        <span class="usuario-contenedor-btns__span lg:inline-block">
                                    Órdenes de Compra</span>
                                    
                                    </a>
                                </div>
                                <form action="{% url 'ordenesExterno' %}" method="POST" hidden="hidden" name="formulario8" >
                                        {% csrf_token %}
                                        <input type="hidden" value="{{request.user.username}}" name="valcorreo">
                                    </form>
                                </form>
                                <script>
                                    function enviar_formulario8(){
                                    document.formulario8.submit()
                                    }
                                </script>
                            <!-- Pedidos -->
                            <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                                <a href="javascript:enviar_formulario7()">
                                    <i class="fas fa-shopping-cart usuario-contenedor-btns__i"></i>
                                    <span class="usuario-contenedor-btns__span lg:inline-block">Pedidos en Curso</span>
                                </a>
                            </div>
                            <form action="{% url 'pedido' %}" method="POST" hidden="hidden" name="formulario7" >
                                        {% csrf_token %}
                                        <input type="hidden" value="{{request.user.username}}" name="valcorreo">
                                    </form>
                            </form>
                                <script>
                                    function enviar_formulario7(){
                                    document.formulario7.submit()
                                    }
                                </script>
                        {% else %}
                            {% if perms.core.view_detalleoferta %}
                                <!-- historial de Ofertas-->
                                <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                                    <a href="javascript:enviar_formulario4()">
                                        <i class="fas fa-clipboard-check usuario-contenedor-btns__i usuario-contenedor-btns__i--activo"></i>
                                        <span class="usuario-contenedor-btns__span lg:inline-block usuario-contenedor-btns__span--activo">
                                        Historial de Ofertas</span>
                                    </a>
                                    <form action="{% url 'historial_ofertas' %}" method="POST" hidden="hidden" name="formulario4" >
                                        {% csrf_token %}
                                        <input type="hidden" value="{{request.user.username}}" name="valcorreo">
                                    </form>
                                    <script>
                                        function enviar_formulario4(){
                                        document.formulario4.submit()
                                        }
                                    </script>
                                </div>
                                <!-- Pedidospuntos -->
                                <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                                    <a href="{% url 'portalDeOfertas' %}">
                                        <i class="fas fa-shopping-cart usuario-contenedor-btns__i"></i>
                                        <span class="usuario-contenedor-btns__span lg:inline-block">
                                        Portal de Ofertas</span>
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if perms.core.view_ventalocal %}
                        <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                            <a href="{% url 'solicitudAdmin' %}">                        
                                {% for c in v_salida %}
                                    <i class="far fa-bell usuario-contenedor-btns__i"></i>
                                    <span class="usuario-contenedor-btns__span lg:inline-block">
                                    Hay {{c.0}} solicitudes nuevas</span>
                                {% endfor %}
                            </a>
                        </div>
                        <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                            <a href="{% url 'portalDeOfertas' %}">                        
                                {% for sp in v_sol_publ %}
                                    <i class="far fa-bell usuario-contenedor-btns__i"></i>
                                    <span class="usuario-contenedor-btns__span lg:inline-block">
                                ( {{sp.0}}) Solicitudes Publicadas</span>
                                {% endfor %}
                            </a>
                        </div>
                        <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                            <a href="{% url 'home' %}">                        
                                {% for vl in v_vl_count %}
                                    <i class="far fa-bell usuario-contenedor-btns__i"></i>
                                    <span class="usuario-contenedor-btns__span lg:inline-block">
                                    ( {{vl.0}})  Ventas Locales</span>
                                {% endfor %}
                            </a>
                        </div>
                                        
                    {% else %}              
                        <!-- Cuenta -->
                        <div class="usuario-contenedor-btns centrar-contenedor lg:justify-start">
                            <a href="javascript:enviar_formulario5()">
                                <i class="fas fa-address-card usuario-contenedor-btns__i"></i>
                                <span class="usuario-contenedor-btns__span lg:inline-block">
                                Cuenta</span>
                            </a>
                            <form action="{% url 'informacion' %}" method="GET" hidden="hidden" name="formulario5" >
                                {% csrf_token %}
                                <input type="hidden" value="{{request.user.username}}" name="valcorreo">
                            </form>
                            <script>
                                function enviar_formulario5(){
                                document.formulario5.submit()
                                }
                            </script>
                        </div>
                    
                    {% endif %}
                </aside>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}